{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<div class="container">
     <div class="row justify-content-center">
        <div class="col-5 mt-4">
            <div class="card">
                <div class="card-body">

                    <h1>S'inscrire</h1>

                    {{ form_start( registrationForm ) }}<br/>
                        
                        <div class="form-group">
                            {{ form_label(registrationForm.name, 'Nom:') }}<br/>
                            {{ form_widget(registrationForm.name,{'attr': 
                            {'class': 'form-control', 'placeholder': 'Entrer votre nom'}}) }}
                        </div>
                         <div class="form-group">
                            {{ form_label(registrationForm.username, 'Nom d\'utilisateur:') }}<br/>
                            {{ form_widget(registrationForm.username,{'attr': 
                            {'class': 'form-control', 'placeholder': 'Entrer votre nom d\'utilisateur'}}) }}
                        </div>
                        <br>

                        <div class="form-group">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe:') }}
                            {{ form_widget(registrationForm.plainPassword,{'attr': 
                            {'class': 'form-control', 'placeholder': 'Entrer votre Mot de passe'}}) }}
                            
                            {% if registrationForm.plainPassword.vars['errors']|length > 0 %}
                                <div class="invalid-feedback" style="display: block">
                                    {{ form_errors(registrationForm.plainPassword) }}
                                </div>
                            {% endif %}
                        </div>

                        {{ form_row( registrationForm.agreeTerms,{
                            label : 'j\'accepte les conditions générales d\'utilisation'
                        }) }}<br/>

                        <button type="submit" class="btn btn-primary">S'inscrire</button><br/>

                    {{ form_end( registrationForm ) }}<br/>
                </div>
            </div>
          </div>
       </div>
   </div>
</div>
    
{% endblock %}
